@use "/styles/partials/palette";
@use "/styles/partials/typography";
@use "/styles/partials/devices";

@use "/styles/modules/defaults.scss";

.base {
	color: palette.$font-dark;
	background-color: palette.$accent;

	&:hover {
		outline: 5px solid palette.$bright;
	}
}

.selected {
	outline: 2px solid palette.$complement;
	background-color: palette.$complement;
}
