@use "/styles/partials/palette";
@use "/styles/partials/typography";
@use "/styles/partials/devices";

@use "/styles/modules/defaults.scss";

.FolderSidebar {
	display: grid;
	flex-direction: column;

	@include devices.phone {
		display: none;
	}

	@include devices.tablet {
		display: grid;
	}

	@include devices.desktop {
		display: grid;
	}

	height: 100%;

	padding: 10px 5px;

	color: palette.$font-dark;
	text-decoration-color: palette.$font-accent;
	background-color: palette.$light;
}
