@use "/styles/partials/palette";
@use "/styles/partials/typography";
@use "/styles/partials/devices";

@use "/styles/modules/defaults.scss";

.LoadingScreen {
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;

	@include defaults.flex-center;

	color: palette.$font-light;
	font-size: 36pt;

	background-color: palette.$dark;
}
