@use "/styles/partials/palette";
@use "/styles/partials/typography";
@use "/styles/partials/devices";

@use "/styles/modules/defaults.scss";

/* $cols: 8;
$icon-size: 160px; */
// $icon-size: 400px;

.files {
	display: grid;

	margin: 0;

	overflow: scroll;

	background-color: palette.$dark;
}

.list {
	grid-template-columns: 100%;
	grid-auto-rows: 24px;
	gap: 1px;

	padding: 10px 10px;

	& > * {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		height: 24px;

		padding: 0 auto 0 20px;
		padding-left: 20px;
		margin: 0;
		border-radius: 0;

		font-size: 11pt;
		text-align: left;

		&:hover {
			z-index: 10;

			outline-width: 3px;
		}
	}
}

.grid {
	--gap: 10px;
	@include devices.phone {
		--cols: 2;
		--icon-size: 45vw;
		width: 100vw;
		justify-content: center;
		padding: auto var(--gap);
	}

	@include devices.tablet {
		--cols: 4;
		--icon-size: calc(
			(100vw - 200px - (var(--gap) * (var(--cols) + 2))) / var(--cols)
		);
		padding: var(--gap);
	}

	@include devices.desktop {
		--cols: 6;
		--icon-size: calc(
			(85vw - (var(--gap) * (var(--cols) + 2))) / var(--cols)
		);
		padding: var(--gap);
	}

	grid-template-columns: repeat(var(--cols), var(--icon-size));
	grid-auto-rows: var(--icon-size);
	gap: var(--gap);
}
