$background: black;
$shadow: #0000003f;

$dark: #463f3a;
$neutral: #8a817c;
$light: #bcb8b1;
$highlight: #f4f3ee;
$accent: #e0afa0;

/* $dark: #0f110c;
$neutral: #cecccc;
$light: #9d6381;
$highlight: #fdecef;
$accent: #612940; */

$dark: #222222;
$neutral: #444;
$light: #999;
$bright: #eee;
$highlight: #fff;
$accent: #ff94e8;
$bg-white: #eeeeee;

$font-white: #ffffff;
$font-light: #eeeeee;
$font-dark: #333333;
$font-accent: $accent;
