@use "/styles/partials/palette";
@use "/styles/partials/typography";
@use "/styles/partials/devices";

@use "/styles/modules/defaults.scss";

.base {
	color: palette.$font-dark;
	background-color: palette.$light;

	&__image {
		width: 100%;
		height: 100%;

		object-fit: scale-down;

		border-radius: inherit;
	}

	&__video {
		width: 100%;
		height: 100%;

		object-fit: scale-down;

		border-radius: inherit;
	}

	&:hover {
		outline: 5px solid palette.$accent;
	}
}

.selected {
	outline: 2px solid palette.$complement;
	background-color: palette.$complement;
}
