@use "../partials/palette";
@use "../partials/typography";
@use "../partials/devices";

@use "../modules/defaults.scss";

.contact {
	height: calc(100vh - 150px);
	padding: 40px;

	&__list {
		display: grid;
		@include devices.phone {
			grid-template-columns: repeat(1, 1fr);
			margin: 40px;
		}

		@include devices.tablet {
			grid-template-columns: repeat(1, 1fr);
			margin: 5vw;
		}

		@include devices.desktop {
			grid-template-columns: repeat(3, 1fr);
			margin: 40px;
		}

		padding: 0px;

		list-style: none;
	}

	&__info {
		@include defaults.flex-center;

		margin: 10px;

		font-size: 128px;
		text-decoration: none;

		&:link {
			color: palette.$light;
		}

		&:visited {
			color: palette.$light;
		}

		&:hover {
			color: palette.$highlight;
		}

		&:active {
			color: white;
		}
	}
}
