@use "../partials/palette";
@use "../partials/typography";
@use "../partials/devices";

@use "../modules/defaults.scss";

.about {
	@include defaults.flex-center;
	flex-direction: column;

	height: 100vh;

	&__title {
		display: block;
	}

	&__subtitle {
		display: block;
	}

	&__content {
		@include defaults.flex-center;

		@include devices.phone {
			flex-direction: column;

			padding: 10vw;
		}
		@include devices.tablet {
			flex-direction: column;

			padding: 10vw;
		}
		@include devices.desktop {
			flex-direction: row;

			padding: 40px;
		}
	}

	&__list {
		list-style: none;
	}

	&__image {
		@include devices.phone {
			width: 40vw;
			height: 40vw;
		}
		@include devices.tablet {
			width: 40vw;
			height: 40vw;
		}
		@include devices.desktop {
			width: 200px;
			height: 200px;
		}

		margin: 20px;
		border: 5px solid white;
		border-radius: 5px;
	}
}

.languages {
	display: grid;
	grid-template-rows: repeat(5, 120px);

	@include devices.phone {
		grid-template-columns: repeat(2, 120px);
	}

	@include devices.tablet {
		grid-template-columns: repeat(3, 120px);
	}

	@include devices.desktop {
		grid-template-columns: repeat(4, 120px);
	}

	justify-content: center;
	list-style: none;

	padding: 40px;

	&__heading {
		margin: 40px;
	}

	&__icon {
		@include defaults.flex-center;

		@include devices.phone {
			height: 100%;
			width: 100%;
		}

		@include devices.tablet {
			height: 100%;
			width: 100%;
		}

		@include devices.desktop {
			height: 100px;
			width: 100px;
		}

		margin: 10px;

		/* color: palette.$highlight; */
		background-color: palette.$neutral;

		font-size: 72px;
	}
}
