@use "../partials/palette";
@use "../partials/typography";
@use "../partials/devices";

@use "../modules/defaults.scss";

.navbar {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;

	width: 100%;
	/* height: 100%; */

	padding: 0px;

	display: flex;
	justify-content: end;
	align-items: center;
	list-style: none;

	box-shadow: 0px 6px 4px palette.$shadow;

	font-size: 24px;

	color: palette.$highlight;
	background-color: palette.$light;

	z-index: 1;

	&__logo {
		position: fixed;
		left: 0;
		margin: 20px;
	}

	&__menu {
		opacity: 0;

		height: 70px;
		width: 70px;

		align-self: start;
		order: 1;

		cursor: pointer;

		&--label {
			@include defaults.flex-center;

			position: fixed;
			top: 0px;
			right: 0px;

			align-self: start;
			height: 70px;
			width: 70px;

			font-size: 50px;
		}

		@include devices.phone {
			display: block;

			&--label {
				display: flex;
			}
		}

		@include devices.tablet {
			display: block;

			&--label {
				display: flex;
			}
		}

		@include devices.desktop {
			display: none;

			&--label {
				display: none;
			}
		}

		&--label::after {
			content: "☰";
		}

		&:checked {
			& ~ .navbar__logo {
				display: none;
			}

			& ~ .navbar__btns {
				display: flex;
				flex-direction: column;

				justify-content: space-around;

				width: 100vw;

				& > .navbar__btn {
					width: 100%;
				}
			}

			& + .navbar__menu--label::after {
				color: white;
				content: "\002716";
			}
		}
	}

	&__btns {
		display: flex;
		flex-direction: row;
		justify-content: end;

		@include devices.phone {
			display: none;
		}

		@include devices.tablet {
			display: none;
		}

		@include devices.desktop {
			@include defaults.flex-center;
		}
	}

	&__btn {
		@include defaults.flex-center;

		width: 200px;
		height: 70px;

		/* padding: 20px; */

		text-decoration: none;
		color: palette.$dark;

		&:hover {
			background-color: palette.$highlight;
			box-shadow: 0px 6px 4px palette.$shadow;
		}

		&:active {
			background-color: palette.$neutral;
		}

		&:visited {
			background-color: palette.$highlight;
		}
	}
}

.navbar-padding {
	height: 70px;
}
