@use "/styles/partials/palette";
@use "/styles/partials/typography";
@use "/styles/partials/devices";

@use "/styles/modules/defaults.scss";

#root {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 2rem;
	padding: 0;
	text-align: center;

	overflow: hidden;
}

.App {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	text-align: center;

	overflow: hidden;
}

.main {
	display: grid;
	grid-template-columns: 200px 1fr;
	height: 100%;
}

.header {
	&_button {
		min-width: 80px;

		margin: 0px 10px;
		border-radius: 5px;
		padding: 5px 5px;

		background-color: palette.$neutral;
		cursor: pointer;

		font-size: 24pt;

		&:hover {
			border: none;
			//outline: 1px solid palette.$accent;

			background-color: palette.$light;
		}
	}
}

.file_upload {
	&_input {
		display: none;
	}
}
