#root {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 2rem;
	padding: 0;
	text-align: center;

	overflow: hidden;
}

.App {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	text-align: center;

	overflow: hidden;
}

.main {
	display: grid;
	grid-template-columns: 200px 1fr;
}
